body{
  min-height:100vh;
  display:flex;
  
  justify-content: center;
  align-items: center;
  background-color: rgb(196, 252, 255);
}

#select{
  padding: 0.25rem 0.5rem;
  border : 3px solid rgb(190, 191, 204);
  background-color: rgb(224, 224, 94);
  border-radius: 30px;
  color: rgb(44, 5, 81);
  font-size: 1.5rem;
  text-transform: capitalize;
  cursor:pointer;
  outline: none;

}
.colorBtn:hover{
  background:rgb(172, 155, 188);

}